
passwordCarrier/passwordCarrier/bin/Debug/passwordCarrier.exe

passwordCarrier/passwordCarrier/bin/Debug/passwordCarrier.exe.config

passwordCarrier/passwordCarrier/bin/Debug/passwordCarrier.pdb

passwordCarrier/passwordCarrier/obj/Debug/passwordCarrier.csproj.CoreCompileInputs.cache

passwordCarrier/passwordCarrier/obj/Debug/

passwordCarrier/passwordCarrier/data/
